@keyframes circleMovement {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }

    100% {
        transform:  rotate(360deg) translateY(10px) rotate(-360deg);
    }
}

@keyframes skew-pulse {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1) ;
    }

    50% {
        transform: scale(1.1) ;
    }

    100% {
        transform: scale(1);
    }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
}
.profile {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    transform: scale(0);
    animation: circleMovement 8s infinite;
}

.animate-blob {
    padding: 10em;
    animation: circleMovement 5s linear infinite;
    z-index: 0;
}

.devname {
    color: var(--primary-text);
    background-color: var(--background);
    text-wrap: nowrap;
    text-align: center;
    font-size: 2em;
}

.devdescription {
    background-color: var(--background);
    color: var(--secondary-text);
    padding-left: -10%;
    animation:   slideIn 2s ease-out forwards; 
}

.profile-container {
    background-color: aliceblue;
}
.bg-card{
    background-color: var(--foreground) !important;
    margin-bottom: 100px;
}
.intro-message {
    color: var(--primary-text);
    text-align: center;
    padding: 2em;
}
.socials{
    padding: 2em;
}