@keyframes figuremoving {
    0%, 100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
      }
     25% { border-radius: 48% 52% 52% 48% / 62% 35% 65% 38% ;}
     50% {
        border-radius: 48% 52% 36% 64% / 45% 29% 71% 55% 
      }
     
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.devname {
    color: var(--primary-text);
    /* background-color: var(--background); */
    text-wrap: nowrap;
    text-align: center;
    font-size: 2em;
}

.devdescription {
    /* background-color: var(--background); */
    color: var(--secondary-text);
    padding-left: -10%;
    animation:   slideIn 2s ease-out forwards; 
}
.bg-card{
    background-color: var(--foreground) !important;
    margin-bottom: 100px;
}
.intro-message {
    color: var(--secondary-text);
    text-align: center;
    padding: 2em;
}
.socials{
    padding: 2em;
}
/* testing profile  */
  .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  
  .profile-container{
    content: '';
    width: 70%;
    height: 70%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background: Radial-gradient(circle , var(--background)60%, var(--foreground));
    z-index: 1;
    animation: figuremoving  8s infinite;
    margin-bottom: 5%;
  }
  .profile-picture:hover{
    transform: scale(1.1);
    filter: grayscale();
  }
  .appearscrabble{
    position: relative;
    padding: 5em;
    border-radius: 25%;
   
  }
  /* testing steam part */
  
#steam1 {
    -webkit-animation: steam1 4s ease-out infinite;
    animation: steam1 4s ease-out infinite;
  }
  
  #steam3 {
    -webkit-animation: steam1 4s ease-out 1s infinite;
    animation: steam1 4s ease-out 1s infinite;
  }
  
  @-webkit-keyframes steam1 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam1 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
  }
  
  #steam2 {
    -webkit-animation: steam2 4s ease-out 0.5s infinite;
    animation: steam2 4s ease-out 0.5s infinite;
  }
  
  #steam4 {
    -webkit-animation: steam2 4s ease-out 1.5s infinite;
    animation: steam2 4s ease-out 1.5s infinite;
  }
  
  @-webkit-keyframes steam2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }
  .steam {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: var(--foreground);
    margin-top: -75px;
    margin-left: 75px;
    z-index: 0;
    opacity: 0;
  }